[project]
	description = spring mvc with angular js
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hbalakrishnan
[access "refs/for/refs/*"]
	read = group user/hbalakrishnan
	push = group user/hbalakrishnan
	label-Code-Review = -2..+2 group user/hbalakrishnan
	label-Verified = -1..+1 group user/hbalakrishnan
	rebase = group user/hbalakrishnan
	removeReviewer = group user/hbalakrishnan
	submit = group user/hbalakrishnan
[access "refs/heads/*"]
	read = group user/hbalakrishnan
	create = group user/hbalakrishnan
	push = +force group user/hbalakrishnan
	pushMerge = group user/hbalakrishnan
[access "refs/tags/*"]
	push = group user/hbalakrishnan
	push = +force group user/hbalakrishnan
